<a href='/'><div class='mobile-header'><img src='/img/logo.jpg' width='200px'  style='margin-top: 0; min-height: 0' /></div></a>
<div class="navigation">
  <a href="{{ .Site.BaseURL }}"><span class='site-title'><img src='/img/logo.jpg' width='200px' style='margin-top: 0; min-height: 0' /></span></a>
  <div class='mobile-nav-menu'>MENU</div>
  <div class='mobile-header'>{{ .Site.Title }}</div>
  <ul class="navigation-nav">
    {{ range .Site.Menus.main }}
      <li class='navigation-nav-item'>
        <a href="{{.URL}}"> {{ .Pre }} {{ .Name }} </a>
      </li>
    {{end}}
    <li class='navigation-nav-item'><a href="/">Home</a> </li>
  </ul>
</div>
