{{ partial "header" . }}
<p class='free-consult'>✨✨ Free Consultations! ✨✨</p>
<div class="content container {{ .Title }} {{ .Section | urlize }}">
  <h1>{{ .Section }}</h1>
  {{ if eq .Section "services" }}
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <section>
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            <h2>{{ $key }}</h2>
            <hr>
            {{ range $value.Pages.GroupByParam "type" }}
              <h3>{{ .Key }}</h3>
              <ul>
              {{ range .Pages }}
                <li>
                  <p><strong>{{ .Title }}:</strong> {{ .Params.description }}</p>
                  <p>{{ .Params.price }}</p>
                </li>
              {{ end }}
              </ul>
            {{ end }}
            <a href='/contact'><button>Schedule Now</button></a>
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
  {{ else if eq .Section "testimonials" }}
    <div class='testimonials-container'>
      {{ range where .Pages "Section" "testimonials" }}
        <p>⭐⭐⭐⭐⭐ "{{ .Params.body }}"</p>
        <h3>—{{ .Params.author }}</h3>
        <br />
      {{ end }}
    </div>
  {{ else if eq .Section "gallery" }}
    <div class="gallery-container">
      {{ range where .Pages "Section" "gallery" }}
        <div>
          <img class="gallery-image" src="{{ .Params.before_image }}"/>
          <p>{{ .Params.before_caption }}</p>
        </div>
        <div>
          <img class="gallery-image" src="{{ .Params.after_image }}"/>
          <p>{{ .Params.after_caption }}</p>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>

{{ partial "footer" . }}
