{{ partial "header" . }}
<p class='free-consult'>✨✨ Free Consultations! ✨✨</p>
<div class="content container {{ .Title }} {{ .Section | urlize }}">
  <h1>{{ .Section }}</h1>
  {{ if eq .Section "services" }}
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
      <section>
        {{ if eq "categories" $taxonomyname }}
          {{ range $key, $value := $taxonomy }}
            <h2>{{ $key }}</h2>
            <hr>
            {{ range $value.Pages.GroupByParam "type" }}
              <h3>{{ .Key }}</h3>
              <ul>
              {{ range .Pages }}
                <li>
                  <p><strong><i class='service-icon {{ .Params.icon }}'></i> {{ .Title }}:</strong> {{ .Params.description }}</p>
                  <p>{{ .Params.price }}</p>
                </li>
              {{ end }}
              </ul>
            {{ end }}
            <a href='/contact'><button class='book-now-button'>book now for your free consultation!</button></a>
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
  {{ else if eq .Section "testimonials" }}
    <div class='testimonials-container'>
      {{ range where .Pages "Section" "testimonials" }}
        <div class='testimonial'>
          <p class='stars'>⭐⭐⭐⭐⭐</p> 
          <p>"{{ .Params.testimonial }}"</p>
          <h3>—{{ .Params.author }}</h3>
          <br />
        </div>
      {{ end }}
      <a href='/contact'><button class='testimonial-cta'>book now for your free consultation!</button></a>
      <p>If you're a satisfied customer and would like to submit a testimonial, click here:</p>
      <a href='/submit'><button class='testimonial-submit'>Submit a Testimonial</button>
    </div>
  {{ else if eq .Section "gallery" }}
    <img class='lightbox-image'></img>
    <div class='bg-overlay'></div>
    <div class="gallery-container">
      {{ range where .Pages "Section" "gallery" }}
        <div class='gallery-image-container'>
          <img class="gallery-image" src="{{ .Params.image }}"/>
          <p>{{ .Params.caption }}</p>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>

{{ partial "footer" . }}
